h5 
{
text-align: center;
margin: 0 0 20px 0;
font-size: 16px;
padding-bottom: 10px;
color: #323B4C;
border-bottom: 4px double #323B4C;
text-shadow: 1px 1px 0 white, 2px 2px 0 #E6B741;
letter-spacing: 2px;
}

.subcontenedormenu
{
height: 200px;
width: 95%;
display: inline-block;
}
.contenedormenu
{
height: 90%;
width: 23%;
display: inline-block;
padding: 30px;
vertical-align: top;
box-shadow: inset 0 0 0 16px white, inset 0 0 0 17px #E6B741, inset 0 0 0 18px white, inset 0 0 0 19px #E6B741, inset 0 0 0 20px white, inset 0 0 0 21px #E6B741;
}
.supercontenedor
{
background: white url(../../img/white_paperboard.jpg);
height: 500px;
width: 71%;
display: inline-block;
font-weight: bold;
font-family: 'Palatino Linotype'! important;
padding: 10px;
border: 20 px;
border: 2pt double goldenrod;
margin-right: 7px;
}