.input_cant
{
    max-width: 50px;
}

.boton_agregar
{
    margin-top: 10%;
    margin-left: 80%;
}

header h1, #header h1 {
    font-size: 32px;
}

.tabs { /* es el rectángulo contenedor */
width: 400px;
display: inline-block;
}